{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}
{% block doctype %}
<!DOCTYPE html>
<html lang="en">
{% endblock %}
<head>
    {% plugin_point "page_head" %}
    <meta charset="utf-8">
    <title>{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}{% endif %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% trans "Pretty solar powered flower pots from Berlin"%}">
    <meta name="keywords" content="{% trans "solar powered flower pots, stars, garden, solar, flower pots" %}">
    <meta name="author" content="Thomas Rega">
    <meta name="google-site-verification" content="GDIZDuyJAX_iYsed3KYmHRnRVsV4yagsWsYDH-W_HSQ" />

    <link href='http://fonts.googleapis.com/css?family=Oswald|Oleo+Script|Contrail+One' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
     href="{{ STATIC_URL }}assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
     href="{{ STATIC_URL }}assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
     href="{{ STATIC_URL }}assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
     href="{{ STATIC_URL }}assets/ico/apple-touch-icon-57-precomposed.png">
    {% block extra-head %}
    {% endblock %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-731101-10']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
{% block body %}
<body{% if bodyid %} id="{{ bodyid }}"{% endif %}{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% include "navigation.html" %}

    <div class="container-fluid">
        {% block breadcrumbs %}
        <!-- breadcrumbs -->
        <div class="row-fluid">
            <div class="span12">
                <div id="navbar">
	                <ul>
                        {% block navbar %}Breadcrumbs here{% endblock %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- sidebar left -->
        <div class="row-fluid">

            {% block left_sidebar %}
                {% comment %}
                <div class="span2">
                {% include "left.html" %}
                </div>
                {% endcomment %}
            {% endblock %}

            {% block content_head %}
            {% endblock %}

            <div id="content">
            {% block content %}
            {% endblock %}
            </div>


            {% block right_sidebar %}
                {% comment %}
                <div class="span2">
                {% include "right.html" %}
                </div>
                {% endcomment %}
            {% endblock %}

        </div>
    </div><!--/.fluid-container-->

    <div class="container-fluid w100">
        <div class="row-fluid">
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
        </div>
    </div>
    <div class="container-fluid w100 appendix">
        <div class="row-fluid">
            {% include "social_networks/as_horizontal_table.html" %}
        </div>
    </div>


    <script src="{{ STATIC_URL }}assets/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-typeahead.js"></script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                          if(!d.getElementById(id)){js=d.createElement(s);
                              js.id=id;js.src="https://platform.twitter.com/widgets.js";
                              fjs.parentNode.insertBefore(js,fjs);}
                          }(document,"script","twitter-wjs");
    </script>
    <script src="{{ STATIC_URL }}/js/base.js"></script>
    {% block extra_js %}
    {% endblock %}
</body>
{% endblock %}
</html>
