{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li><a href="{{ contact_url }}">{% trans "Contact Us" %}</a></li>
{% endblock %}

{% block content %}
<h3>{% trans "Contact Information" %}</h3>

{% if form.errors %}
<h3>
    {% blocktrans count form.errors|length as count %}
        Please correct the following error:
        {% plural %}
        Please correct the following errors:
    {% endblocktrans %}
</h3>
{% endif %}

<p style="max-width:450px; text-align:justify;">
{% blocktrans %}
We would be honored to answer any questions you may have about our company, product, or people.
Feel free to contact us for any reason whatsoever. Please fill out the form below and we'll
get back to you as soon as we can with an answer.
{% endblocktrans %}
</p>

<table>
    <form method="post" action=".">{% csrf_token %}
        {{ form.as_p }}
    <tr><td></td><td><input type="submit" value="{% trans "Send Email" %}"/></td></tr>
    </form>
</table>
{% endblock %}
