{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}

{% block extra-css %}
    <link href="{{ STATIC_URL }}css/nivo-slider.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet">
{% endblock %}
{% block navbar %}
   <li class="first">{% trans "Home" %}</li>
{% endblock %}

{% block content %}
    <div id="myCarousel" class="span12 carousel slide">
        <div class="carousel-inner">
            <div class="active item">
                <img src="{{ STATIC_URL }}images/products/gallery/potstar-1.jpg" alt="potstar-1"/>
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/products/gallery/potstar-2.jpg" alt="potstar-1"/>
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/products/gallery/potstar-3.jpg" alt="potstar-1"/>
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/products/gallery/potstar-4.jpg" alt="potstar-1"/>
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/products/gallery/potstar-5.jpg" alt="potstar-1"/>
            </div>
        </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    {% blocktrans %}
        <h1>Get down the stars from the sky to enlighten your life.</h1>
    {% endblocktrans %}
{% endblock %}

{% block extra-js %}
    <script src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $('.carousel').carousel({
        interval: 7000,
    });
    </script>
{% endblock %}
