<section class="social_networks">
<p>
<div class="fb-like"
     data-href="http://www.facebook.com/pages/Potstar/412725818794376"
     data-send="true"
     data-width="450"
     data-show-faces="false"
     data-colorscheme="light"
     data-font="arial"
     data-layout="button_count">
</div>
</p>
<p>
<div class="g-plusone"
     data-annotation="inline"
     data-width="300"
     data-href="http://www.potstar.de">
</div>
</p>
<p>
<div class="tweet">
<a href="https://twitter.com/share"
   class="twitter-share-button"
   data-lang="en"
   data-url="http://www.potstar.de"
   data-text="Beautiful solar powered flowerpots from Berlin - Check this out:">Tweet</a>
</div>
</p>
