<div class="row-fluid">
    <div class="span12">
        <section class="social_networks" style="margin-left:2em;">
        <table>
            <tr>
                <td style="width:200px;">
                    <div class="fb-like"
                         data-href="http://www.facebook.com/pages/Potstar/412725818794376"
                         data-send="true"
                         data-width="450"
                         data-show-faces="false"
                         data-colorscheme="light"
                         data-font="arial"
                         data-layout="button_count">
                    </div>
                </td>
                <td style="width:200px;">
                    <div class="g-plusone"
                         data-annotation="inline"
                         data-width="200"
                         data-href="http://www.potstar.de">
                    </div>
                    <script type="text/javascript">
                        window.___gcfg = {lang: 'de'};
                        (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        })();
                    </script>
                </td>
                <td>
                    <div class="tweet">
                    <a href="https://twitter.com/share"
                       class="twitter-share-button"
                       data-lang="en"
                       data-url="http://www.potstar.de"
                       data-text="Beautiful solar powered flowerpots from Berlin - Check this out:">Tweet</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
