/*
 * - elements
 * - ids
 * - classes
 */
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar{
    line-height:3em;
}

#navbar ul {
    margin: 2em 0 0 1em;
    padding: 0;
}

.centered {
    margin: 0 auto;
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.container {
    margin: 0 auto;
    position: relative;
}

.fl {
    float: left;
}

.frmr{
    float: right;
    margin-right:50px;
}

.main-footer {
    background-color:#000;
    color:#fff;
    padding-bottom:1em;
    padding-top:1em;
}

.main-footer section {
    border-right: 1px dotted #595959;
    height: 185px;
}

.main-footer .misc {
    color: #aeaeae;
    padding-left: 28px;
    width: 173px;
}

.main-footer .copyright {
    border: 0 none;
    padding-left: 28px;
    width: 200px;
}

.main-footer .quicklinks {
    color: #fff;
    padding-right: 28px;
    width: 173px;
}

.main-footer .tbr {
    color: #fff;
    padding-left: 28px;
    width: 173px;
}

.navbar img {
    height:24px;
}

.sidebar-nav {
    padding: 9px 0;
}

