footer img {
    margin-left: 30px;
    width: 80px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img.flag {
    height: 10px!important;
}

section.social_networks {
    padding-top: 1em;
}

ul.language_settings > li > a{
    padding:10px 5px!important;
}

ul.nav li{
    list-style: none;
}

#navbar{
    line-height:3em;
}

#navbar ul {
    margin: 4em 0 0 1em;
    padding: 0;
}

.centered {
    margin: 0 auto;
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.container {
    margin-left: 100px;
    position: relative;
}

.fl {
    float: left;
}

.frmr{
    float: right;
    margin-right:50px;
}

.main-footer {
    background-color:#000;
    color:#fff;
    display: block;
    padding-bottom:2em;
    padding-top:1em;
}

section {
}

.misc {
    color: #aeaeae;
    padding-left: 28px;
    width: 173px;
}

.copyright {
    padding-left: 28px;
    width: 200px;
}

.quicklinks {
    padding-left: 2em;
    padding-top: 2em;
}

.navbar img {
    height:24px;
}

.sidebar-nav {
    margin-top: 1em;
    padding: 9px 0;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    box-shadow: .2em .2em .2em #000;
}

#container {
width: 90%;
margin: 10px auto;
background-color: #fff;
color: #333;
border: 1px solid gray;
line-height: 130%;
padding: 0;
margin-top: 0;
}

#navbar {
width: 100%;
background-color: #fff;
color: #333;
line-height: 90%;
border: none;
border-bottom: 1px solid silver;
}

#top {
padding: .5em;
background-color: #ddd;
border-bottom: 1px solid gray;
}

#top h1 {
padding: 0;
margin: 0;
}

h5 {
margin: 0;
padding: 0;
}

#sidebar-secondary {
float: left;
width: 160px;
margin: 0;
padding: 1em;
}

#sidebar-secondary h3, #sidebar-primary h3 {
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 0.1em;
	margin-top: 1em;
}

#sidebar-primary {
float: right;
width: 160px;
margin: 0;
padding: 1em;
background-color: #ddd;
border-left: 1px solid silver;
border-bottom: 1px solid silver;
}

#sidebar-primary .wishlist {
	padding-top: 10px;
}


#content {
    color: #555;
    background-color: #fff;
    padding: 20px 25px;
    margin: 1em 0;
    max-width: 1550px;

    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    box-shadow: .2em .2em .2em #000;

    font-size: 1.5em;
    line-height: 1.8em;
}

#content h1 {
    text-align: center;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
	background-color: #555;
	margin-top: 0px;
	padding-top: 0px;
}

#pagination {
clear:both;
display: block;
width:100%;
float: none;
padding: 1em;
}

#pagination ul {
margin: 0;
padding: 0;
text-align: left;
font-size: 12px;
}

#pagination li {
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

#pagination a, #pagination a:visited {
padding: 0 5px;
text-decoration: none;
}

#pagination li.currentpage {
font-weight: bold;
padding: 0 5px;
}

#content div.productreviews {
padding-top: 10px;
padding-bottom: 10px;
font-size: 12px;
}


#content div.productreviews h2 {
    font-size: 14px;
}

#content div.productreviews span.label {
	float: left;
	width: 80px;
}

footer {
    background-color: #000;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    margin: 0;
    padding: 0;
}

.w100 {
    width: 100%;
    margin: 0;
    padding: 0;
}
#sidebar-secondary p, #sidebar-primary p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }

.brandcategories {
    clear: both;
}

.brandImage,
.productImage {
border:solid 1px silver;
padding:5px;
float: left;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
margin-bottom:2px;
text-align: center;
}

.productImage p {
text-align: center;
font-size: 10pt;
}

#menu_container ul {
margin: 0;
padding: 0;
list-style-type: none;
}


#shipping ul li {
list-style-type: none;
text-decoration: none;
padding-left: 1em;
text-indent: -1em;
}

#checkoutprogress {
border-style: solid;
border-width: 1px;
padding: 3px;
margin-bottom: 25px;
}

#checkoutprogress ul {
display: inline;
margin-left: 0;
padding-left: 0;
border: none;
}

#checkoutprogress ul li {
margin-left: 0;
padding-left: 2px;
display: inline;
list-style: none;
}

#checkoutprogress ul li:before {
content: "\0020 \0020 \0020 \00BB \0020";
display: inline;
list-style: none;
}

#checkoutprogress ul li.first:before {
content: " ";
}

#checkoutprogress li.active {
background-color: #ccc;
}

#wishlist ul li,
#product_category ul li {
list-style: none;
padding: 0.5em;
border-bottom: 1px dashed #e0e0e0;
background-color: white;
}

#wishlist ul li:hover,
#product_category ul li:hover {
	background-color: #f0fff0;
}

#wishlist ul li a,
#product_category ul li a {
	display: block;
}

#wishlist span.date {
	font-style: italic;
	display: block;
	margin-left: 5px;
	font-size: 10px;
}

#wishlist form {
	display: inline;
}

#menu_container a {
display: block;
color: #FFF;
background-color: #7F7F7F;
width: 9em;
padding: 3px 17px 3px 8px;
text-decoration: none;
border-bottom: 1px solid #fff;
font-weight: bold;
}

#menu_container a:hover {
background-color: #B6B6B6;
color: #FFF;
}

#menu_container li li a {
display: block;
color: #FFF;
background-color: #C0C0C0;
width: 9em;
padding: 3px 8px 3px 17px;
text-decoration: none;
border-bottom: 1px solid #fff;
font-weight: normal;
}

#menu_container li li li a {
display: block;
color: #FFF;
width: 9em;
background-color: #C0C0C0;
padding: 3px 1px 3px 24px;
text-decoration: none;
border-bottom: 1px solid #fff;
font-weight: normal;
}

#menu_container a.current:before {
content: "\0020 \0020 \0020 \00BB \0020";
}

.addressblock {
padding-top: .5em;
padding-bottom: .5em;
}

.profile li {
list-style-type: none;
}

table.ordertable {
width:  100%;
font-weight: normal;
font-size: 13px;
}

table.ordertable thead {
	background-color: #ddd;
}

table.ordertable span.orderitemqty {
	font-style: italic;
}
p {
	line-height: 150%;
}

.help, p.help {
        font-size:9px !important; color:#999;
}

img {
	border: none;
}

.error {
    color: red;
    text-align: center;
}

/* =============== Navigation Bars ===================== */

#navbar ul {
	margin: 1em;
	padding: 0px;
}
#navbar ul li {
	display: inline;
	list-style: none;
}
#navbar ul li {
	padding-left: 0.7em;
	padding-right: 0.5em;
	border-left: 1px solid #b0b0b0;
}
#navbar ul li.first {
	padding-left: 0em;
	border-left: none;
}

.recentview h3 {
	padding-bottom: 10px;
}

.recentitem {
	padding-bottom: 10px;
}

div.recentlyadded {
    display: block;
}

.qtyform #id_quantity {
    width: 5em;
}

#payment ul li{
    list-style-type: none;
}

/* ============ Upsell section ============== */

div.upsell {
	padding-top: 10px;
}

div.upsell .upselldescription {
	padding-bottom: 10px;
}

#myCarousel{
    margin-top: 1em;
    width: 100%;
    max-width: 1600px;
}

.carousel-inner {
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    box-shadow: .2em .2em .2em #000;
}

.content {
    background-color: #fff;
    padding: 1em 2em;
    min-height: 100%;
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px#888;
    box-shadow: inner 0 0 5px #888;
}

.copyright {
}

.appendix {
    background-color: #000;
}
