footer img {
    margin-left: 30px;
    width: 80px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img.flag {
    height: 10px!important;
}

section.social_networks {
    padding-top: 1em;
}

ul.language_settings > li > a{
    padding:10px 5px!important;
}

ul.nav li{
    list-style: none;
}

#navbar{
    line-height:3em;
}

#navbar ul {
    margin: 4em 0 0 1em;
    padding: 0;
}

.centered {
    margin: 0 auto;
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.container {
    margin-left: 100px;
    position: relative;
}

.fl {
    float: left;
}

.frmr{
    float: right;
    margin-right:50px;
}

.main-footer {
    background-color:#000;
    color:#fff;
    display: block;
    padding-bottom:2em;
    padding-top:1em;
}

.main-footer section {
    border-left: 1px dotted #595959;
    display: block;
}

.main-footer .misc {
    color: #aeaeae;
    padding-left: 28px;
    width: 173px;
}

.main-footer .copyright {
    padding-left: 28px;
    width: 200px;
}

.main-footer .quicklinks {
    border: 0 none;
    color: #fff;
    padding-right: 28px;
    width: 173px;
}

.navbar img {
    height:24px;
}

.sidebar-nav {
    margin-top: 1em;
    padding: 9px 0;
}
