body {
    font-family: 'Sonsie One', cursive;
    background-color: #000;
}

a.lpage {
    color:#fff;
    opacity: .5;
}

a.lpage:hover {
    text-decoration:none;
    opacity: 1;
}

h1.lpage{
    position:absolute;
    top:9em;
    left:1.5em;
    color:#fff!important;
    font-size:4em;
    text-shadow: 3px 3px #333333;
}

#picture1{
    padding-top:5em;
    padding-left:5em;
    min-width:900px;
}
