body {
    font-family: 'Sonsie One', cursive;
    background-color: #000;
}

#impressum_link {
    margin: 2em auto;
    text-align: center;
}

#impressum_link a{
    color: #fff;
    text-decoration:none;
}

#impressum_link a:hover{
    color: #9B1400;
}

#picture1{
    padding-top:5em;
    padding-left:5em;
    min-width:900px;
}

a.lpage {
    color:#fff;
    opacity: .5;
}

a.lpage:hover {
    text-decoration:none;
    opacity: 1;
}

h1.lpage{
    position:absolute;
    top:10.2em;
    left:2em;
    color:#fff!important;
    font-size:4em;
    text-shadow: 3px 3px #333333;
}
