Django==1.4.1
PIL==1.1.7
PyYAML==3.10
South==0.7.6
TRML2PDF==1.0
-e hg+https://bitbucket.org/bkroeze/django-caching-app-plugins/@e2f6afd8cd40e75066e01dc9b7806e57823d1530#egg=django_caching_app_plugins-dev
-e hg+https://bitbucket.org/bkroeze/django-keyedcache/@49f24c71151893549d42a30adf706b986ad1ac94#egg=django_keyedcache-dev
-e hg+https://bitbucket.org/bkroeze/django-livesettings/@fe16a426b27320b0be307df6c1319fa8c26847b7#egg=django_livesettings-dev
-e hg+https://bitbucket.org/hynekcer/django-registration@457ddf94ebfd893d6afe5a8ffbc8045916b1f7cc#egg=django_registration-dev
-e hg+https://bitbucket.org/bkroeze/django-signals-ahoy/@098009ab37f70dd169be090e033c23a43359bb1b#egg=django_signals_ahoy-dev
-e hg+https://bitbucket.org/bkroeze/django-threaded-multihost/@27a62f80ee24810be4d21f07101cfc1f2fe4ba9d#egg=django_threaded_multihost-dev
pycrypto==2.6
reportlab==2.5
sorl-thumbnail==11.12
wsgiref==0.1.2
